<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8" >
        <title>{% block title %}Seddit!{% endblock %}</title>
		<link rel="stylesheet" type="text/css" href="/css/reset.css">
        <link rel="stylesheet" type="text/css" href="/css/global.css">
        <link rel="shortcut icon" href="/images/favicon.ico">
        {% block endhead %}{% endblock %}
    </head>
    <body style="background:white">
        <div id="main_container">
            <div id="header" class="clearfix">
                <h1><img id="logo" alt="Seddit" title="Seddit" src="/images/refly/logo_transparent.png" /></h1>
            </div>
            <div id="col-container" class="clearfix">
                {% block content %}{% endblock %}
            </div>
        </div>
        <!-- d -->
    </body>
</html>
